.u-margin-left {
    margin-left: 1em;
}

.imandra-fold .panel-heading i {
    min-width: 20px;
}

.imandra-alternatives a {
    text-decoration: none;
    font-weight: bold;
}

.imandra-alternatives ul.nav-tabs {
    padding-left: 0;
}
