blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-end: 0;
  -webkit-margin-before: 0; }

body {
  font-family: "Lato", sans-serif;
  background: #03080F;
  min-height: 100%; }

.AiHeader {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: #22eeee;
  justify-content: center;
  align-items: center; }

.AiHeader_NavContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-height: 50px;
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  opacity: 1;
  transition: all 0.2s ease-out; }

.AiHeader_InnerNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 26px 26px 11px 26px; }

.AiHeader_LogoContainer {
  width: 24px;
  height: 24px; }

.AiLogo {
  width: 100%; }

.AiLogoFill {
  fill: #4A90E2; }

.AiHeader_NavListContainer {
  display: flex;
  flex: 9 1;
  height: 100%;
  justify-content: center;
  align-items: center; }

.ContainerHidden {
  display: visible !important; }

.Menu {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  justify-content: flex-end;
  height: 100%;
  align-items: center; }

.MenuItem {
  display: flex;
  padding: 0 1rem;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 400; }

.MenuItem:hover {
  background: rgba(0, 0, 0, 0.9); }

.MenuItem_Link {
  display: flex;
  color: #4A90E2;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  height: 100%;
  cursor: pointer;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 12.4px; }

.MenuItem_Link__Active {
  color: #21d8af; }

.MenuItem_Link:hover {
  color: #21d8af; }

.MenuItem_Link {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center; }

.AiHeader_MobileMenuIcon {
  display: none; }

.Try_WelcomeScreenContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.Try_BackgroundCanvasBG {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  transition: all 1s ease-out;
  background: url("img/backg3d_0.svg") center center/cover no-repeat; }

.Try_BackgroundMiddleBG {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-out;
  opacity: 1;
  background: url("img/backg3d_1a.svg") center center/cover no-repeat; }

.Try_FrontContainer {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  transform: translateX(-24px);
  transition: all 1.11s ease-out;
  opacity: 1; }

.Try_Ai3dLogo {
  z-index: 2;
  display: flex;
  width: 50%;
  max-width: 555px;
  height: 100%;
  transform: translateX(-36px);
  background: url("img/logo_ai3d.svg") 50% center/134% no-repeat; }

.Try_Panel {
  z-index: 2;
  display: flex;
  width: 490px;
  height: 350px;
  padding: 30px 30px 10px 30px;
  transform: translateX(22px);
  opacity: 0.88;
  background-image: radial-gradient(circle at 0 0, #081c2b, #02080d);
  border: solid 1px rgba(0, 119, 255, 0.22);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, border 0.25s ease-in-out, border-radius 0.25s ease-in-out; }

.Try_Panel:hover {
  border: solid 1px #3392ff;
  background: rgba(51, 146, 255, 0.1);
  border-radius: 8px; }

.Try_LogoImandraR {
  width: 490px;
  height: 84px;
  background: url("img/logo_imandra_reasoning.svg") 0 0/100% no-repeat; }

.Try_TerminalContainer {
  padding-top: 13px;
  width: 490px; }

.Try_Terminal {
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  font-family: "Share Tech Mono", monospace;
  width: 100%;
  color: white;
  white-space: pre; }

span.BasicTypewriterBlue {
  background: rgba(225, 225, 225, 0.01);
  color: #007EFF; }

.Try_Footer {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%; }

.Try_LegalLink,
.Try_Copyrights {
  z-index: 2;
  font-family: "Libre Baskerville", serif;
  font-size: 11px;
  color: white;
  opacity: 0.8;
  text-decoration: none; }

a.Try_LegalLink {
  color: #4A90E2;
  margin-left: 5px;
  font-size: 12px;
  line-height: 13px; }

@media screen and (max-width: 1112px) and (orientation: landscape) {
  .Try_BackgroundCanvasBG {
    background: url("img/backg3d_0.svg") 78% center/cover no-repeat; }

  .Try_BackgroundMiddleBG {
    background: url("img/backg3d_1a.svg") 70% center/cover no-repeat; }

  .Try_FrontContainer {
    transform: translateX(-64px); } }
@media screen and (max-width: 960px) {
  .AiHeader_NavContainer {
    margin: auto;
    height: auto; }

  .AiHeader_InnerNavContainer {
    justify-content: space-between; }

  .AiHeader_NavListContainer {
    display: flex;
    position: absolute;
    height: auto;
    top: 60px;
    left: 0;
    width: 100%; }

  .AiHeader_MobileMenuIcon {
    display: block;
    font-size: 33px;
    line-height: 24px;
    text-decoration: none;
    color: #4A90E2; }

  .MenuItem {
    margin: 0;
    padding: 0;
    height: 48px;
    display: flex;
    align-items: stretch;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); }

  .Menu {
    justify-content: flex-start;
    height: 90vh;
    flex-wrap: wrap;
    flex-direction: column; }

  .Try_Terminal {
    font-size: 10px; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 960px) and (orientation: portrait) {
  .Try_BackgroundCanvasBG {
    background: url("img/backg3d_0.svg") 0% 0%/cover no-repeat; }

  .Try_BackgroundMiddleBG {
    background: url("img/backg3d_1a.svg") 78% center/cover no-repeat; }

  .Try_FrontContainer {
    transform: translateX(0);
    flex-direction: column; }

  .Try_Ai3dLogo {
    height: 55%;
    width: 100%;
    transform: translateX(0);
    background: url("img/logo_ai3d_c.svg") 50%/90% no-repeat; }

  .Try_Panel {
    height: 44%;
    width: 90%;
    transform: translateX(0);
    max-width: 440px;
    margin: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    border: solid 1px rgba(0, 0, 0, 0); }

  .Try_Panel:hover {
    border: solid 1px rgba(0, 0, 0, 0); }

  .Try_LogoImandraR {
    height: 80px;
    width: 100%; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 640px) and (orientation: portrait) {
  .Try_TerminalContainer {
    padding-top: 0; }

  .Try_Terminal {
    font-size: 9px; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 960px) and (orientation: landscape) {
  .Try_BackgroundCanvasBG {
    background: url("img/backg3d_0.svg") 0% 0%/cover no-repeat; }

  .Try_BackgroundMiddleBG {
    background: url("img/backg3d_1a.svg") 78% center/cover no-repeat; }

  .Try_FrontContainer {
    transform: translateX(0px); }

  .Try_Ai3dLogo {
    height: 50%;
    width: 100%;
    transform: translateX(0);
    background: url("img/logo_ai3d_c.svg") 50%/90% no-repeat; }

  .Try_Panel {
    background: rgba(0, 0, 0, 0);
    border: solid 1px rgba(0, 0, 0, 0);
    height: 40%;
    width: 60%;
    transform: translateX(0);
    max-width: 440px; }

  .Try_LogoImandraR {
    height: 80px;
    width: 100%; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 736px) and (orientation: landscape) {
  .Try_Ai3dLogo {
    height: 80%;
    width: 50%;
    transform: translateX(0);
    background: url("img/logo_ai3d_c.svg") 50%/90% no-repeat; }

  .Try_Panel {
    background: rgba(0, 0, 0, 0);
    border: solid 1px rgba(0, 0, 0, 0);
    height: 65%;
    width: 60%; }

  .Try_LogoImandraR {
    height: 60px;
    width: 80%; }

  .Try_Terminal {
    font-size: 8px; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 380px) {
  .Try_BackgroundCanvasBG {
    background: url("img/backg3d_0.svg") 30% center/cover no-repeat; }

  .Try_BackgroundMiddleBG {
    background: url("img/backg3d_1a.svg") 30% center/cover no-repeat; }

  .Try_LogoImandraR {
    height: 60px;
    width: 100%; }

  .Try_Terminal {
    font-size: 8px; }

  .Try_Ai3dLogo {
    height: 55%;
    width: 100%;
    transform: translateX(0);
    background: url("img/logo_ai3d_c.svg") 150% -30%/100% no-repeat; }

  .Try_Footer {
    flex-direction: column;
    align-items: center;
    bottom: 5px; }

  .Try_LegalLink,
  .Try_Copyrights {
    font-size: 8px; }

  .ContainerHidden {
    display: none !important; } }
@media screen and (max-width: 360px) {
  .Try_TerminalContainer {
    padding-top: 0; }

  .Try_Terminal {
    font-size: 7px; }

  .ContainerHidden {
    display: none !important; } }
.LoaderCover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out; }

.LoaderCoverVisible {
  z-index: 999;
  opacity: 1; }

.Try_BackgroundCanvasBGBlow {
  transform: scale(1.3);
  overflow: hidden; }

.Try_BackgroundMiddleBGBlow {
  transform: scale(1.3);
  overflow: hidden; }

.Try_FrontContainerBlow {
  overflow: hidden;
  transform: scale(22); }

#imandraLoader {
  display: none;
  width: 111px;
  height: 111px;
  opacity: 0;
  transition: all 1s ease-in-out; }

.VisibleBlock {
  display: block !important; }

.RevealBlock {
  opacity: 1 !important; }

.HiddenBlock {
  opacity: 0; }

.typewriter-cursor {
  display: block;
  height: 11px;
  width: 11px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  left: -15px;
  top: -13px; }

.BlinkingCursor {
  background: #fff; }

.Pulse {
  color: #21d8af !important;
  animation-name: pulsar;
  animation-duration: 600ms;
  transition: opacity 0.5ms ease-in-out; }

@keyframes pulsar {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
